[MASTER]
disable =
        invalid-name,
        missing-class-docstring,
        missing-module-docstring,
        missing-function-docstring,
        broad-exception-raised,

[FORMAT]
max-line-length=127
[MISCELLANEOUS]
notes=XXX
[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
[DESIGN]
max-args = 8
