[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 127

[tool.isort]
line_length = 127
case_sensitive = true
profile = "black"

[tool.mypy]
show_error_codes = true
strict = true
disable_error_code = [
    "import",
]

[[tool.mypy.overrides]]
module = [
    "linz_logger",
]
ignore_missing_imports = true

[tool.poetry]
name = "gdal"
version = "0.2.0"
description = ""
authors = [
    "Blayne Chard <bchard@linz.govt.nz>",
    "Daniel Silk <dsilk@linz.govt.nz>",
    "Paul Fouquet <pfouquet@linz.govt.nz>",
    "Alice Fage <afage@linz.govt.nz>",
    "Megan Davidson <mdavidson@linz.govt.nz>"
]

[tool.poetry.dependencies]
python = "^3.10.6"
boto3 = "^1.24.12"
linz-logger = "^0.9.0"
certifi = "^2022.6.15"
py-multihash = "^2.0.1"
shapely = "^1.8.5"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
isort = "^5.10.1"
gitlint = "^0.17.0"
mypy = "^0.961"
pylint = "^2.14.3"
pre-commit = "^2.19.0"
mypy-boto3-s3 = "^1.24.0"
pytest = "^7.1.2"
pytest-dependency = "^0.5.1"
moto = "^3.1.16"
pytest-mock = "^3.8.2"
