[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 127

[tool.isort]
line_length = 127
case_sensitive = true
profile = "black"

[tool.mypy]
show_error_codes = true
strict = true
disable_error_code = [
    "import",
]

[[tool.mypy.overrides]]
module = [
    "linz_logger",
]
ignore_missing_imports = true

[tool.poetry]
name = "gdal"
version = "1.1.0"
description = ""
authors = [
    "Blayne Chard <bchard@linz.govt.nz>",
    "Daniel Silk <dsilk@linz.govt.nz>",
    "Paul Fouquet <pfouquet@linz.govt.nz>",
    "Alice Fage <afage@linz.govt.nz>",
    "Megan Davidson <mdavidson@linz.govt.nz>"
]

[tool.poetry.dependencies]
python = "^3.10.6"
boto3 = "^1.26.73"
linz-logger = "^0.11.0"
certifi = "^2022.12.7"
py-multihash = "^2.0.1"
shapely = "^2.0.1"

[tool.poetry.dev-dependencies]
black = "^23.1.0"
isort = "^5.12.0"
gitlint = "^0.18.0"
mypy = "^1.0"
pylint = "^2.16.2"
pre-commit = "^3.1.1"
mypy-boto3-s3 = "^1.26.58"
pytest = "^7.2.1"
pytest-dependency = "^0.5.1"
moto = "^4.1.2"
pytest-mock = "^3.8.2"
