[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 127

[tool.isort]
line_length = 127
case_sensitive = true
profile = "black"

[tool.mypy]
show_error_codes = true
strict = true
disable_error_code = [
    "import",
]

[[tool.mypy.overrides]]
module = [
    "linz_logger",
]
ignore_missing_imports = true

[tool.poetry]
name = "topo-imagery"
version = "4.0.0"
description = "A collection of scripts for processing imagery"
authors = [
    "Blayne Chard <bchard@linz.govt.nz>",
    "Daniel Silk <dsilk@linz.govt.nz>",
    "Paul Fouquet <pfouquet@linz.govt.nz>",
    "Alice Fage <afage@linz.govt.nz>",
    "Megan Davidson <mdavidson@linz.govt.nz>"
]

[tool.poetry.dependencies]
python = "^3.10.6"
boto3 = "^1.28.70"
linz-logger = "^0.11.0"
py-multihash = "^2.0.1"
shapely = "^2.0.1"
tifffile = "^2023.12.9"

[tool.poetry.dev-dependencies]
black = "^23.11.0"
isort = "^5.12.0"
gitlint = "^0.19.1"
mypy = "^1.6"
pylint = "^3.0.2"
pre-commit = "^3.5.0"
mypy-boto3-s3 = "^1.28.55"
pytest = "^7.4.3"
pytest-dependency = "^0.5.1"
moto = "^4.2.6"
pytest-mock = "^3.12.0"
shellcheck-py = "*"
vulture = "^2.10"
