name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ubuntu-22.04-pip-${{ secrets.CACHE_SEED }}-3.10-${{ hashFiles('./poetry.lock') }}
          restore-keys: ubuntu-22.04-pip-${{ secrets.CACHE_SEED }}-3.10-
      - name: Install
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          python -m poetry install
      - name: Lint Last Commit
        if: github.event_name == 'push'
        run: |
          poetry run gitlint
      - name: Lint All Commits on Pull Request
        if: github.event_name == 'pull_request'
        run: |
          poetry run gitlint --commits "origin/${{ github.base_ref }}...HEAD"
      - name: Format
        run: |
          poetry run pre-commit run --all-files
      - name: Test
        run: |
          poetry run coverage run --module pytest
      # - name: Verify test coverage
      #   run: |
      #     poetry run coverage html
      # - name: Archive code coverage report
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: code-coverage-report
      #     path: htmlcov
      #   if: ${{ failure() }}
