name: Build and Publish Containers
on:
  workflow_call:
  push:
    branches:
      - master
jobs:
  build-containers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build containers
        run: |
          docker build . --tag topo-imagery-test --label "github_run_id=${GITHUB_RUN_ID}"

      - name: Log in to registry
        if: ${{(github.ref == 'refs/heads/master') && !(startsWith(github.event.head_commit.message, 'release:'))}}
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: Publish Containers
        if: ${{(github.ref == 'refs/heads/master') && !(startsWith(github.event.head_commit.message, 'release:'))}}
        run: |
          GIT_VERSION=$(git describe --tags --always --match 'v*')
          docker tag topo-imagery-test ghcr.io/paulfouquet/topo-imagery-test:latest
          docker tag topo-imagery-test ghcr.io/paulfouquet/topo-imagery-test:${GIT_VERSION}

          docker push --all-tags ghcr.io/paulfouquet/topo-imagery-test
