name: Build and Publish Containers
on:
  workflow_call:
  push:
    branches:
      - master
jobs:
  build-containers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build containers
        run: |
          docker build . --tag topo-imagery --label "github_run_id=${GITHUB_RUN_ID}"

      - name: Log in to Registry
        if: ${{(github.ref == 'refs/heads/master') && !(startsWith(github.event.head_commit.message, 'release:'))}}
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: Publish Containers
        if: ${{(github.ref == 'refs/heads/master') && !(startsWith(github.event.head_commit.message, 'release:'))}}
        run: |
          GIT_VERSION=$(git describe --tags --always --match 'v*')
          docker tag topo-imagery ghcr.io/linz/topo-imagery:latest
          docker tag topo-imagery ghcr.io/linz/topo-imagery:${GIT_VERSION}

          docker push --all-tags ghcr.io/linz/topo-imagery

      - name: Configure AWS Credentials
        if: ${{(github.ref == 'refs/heads/master') && !(startsWith(github.event.head_commit.message, 'release:'))}}
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: ap-southeast-2
          mask-aws-account-id: true
          role-to-assume: ${{ secrets.AWS_CI_ROLE }}

      - name: Login to Amazon ECR
        if: ${{(github.ref == 'refs/heads/master') && !(startsWith(github.event.head_commit.message, 'release:'))}}
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Tag and push docker image to Amazon ECR
        if: ${{(github.ref == 'refs/heads/master') && !(startsWith(github.event.head_commit.message, 'release:'))}}
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: eks
          IMAGE_TAG: ${{ github.sha }}
        run: |
          GIT_VERSION=$(git describe --tags --always --match 'v*')
          docker pull ghcr.io/linz/topo-imagery:${GIT_VERSION}

          docker tag ghcr.io/linz/topo-imagery:${GIT_VERSION} ${{ secrets.AWS_ACCOUNT_ID_PROD }}.dkr.ecr.ap-southeast-2.amazonaws.com/eks:topo-imagery
          docker tag ghcr.io/linz/topo-imagery:${GIT_VERSION} ${{ secrets.AWS_ACCOUNT_ID_PROD }}.dkr.ecr.ap-southeast-2.amazonaws.com/eks:topo-imagery-${GIT_VERSION}

          docker push ${{ secrets.AWS_ACCOUNT_ID_PROD }}.dkr.ecr.ap-southeast-2.amazonaws.com/eks:topo-imagery
          docker push ${{ secrets.AWS_ACCOUNT_ID_PROD }}.dkr.ecr.ap-southeast-2.amazonaws.com/eks:topo-imagery-${GIT_VERSION}
